.map{
	background-image: url("map.jpg");
	height:500px; 
	width:500px;
	float: left;
	margin-top: 50px;
	position: absolute;
}

.right{
	float: right;
	display: inline;
    margin-top: 50px;
    margin-right: 200px;
    border-style: solid;
}

table{
	padding: 15px;
	margin-right: 350px;
}
table, tr, th,td {
    border: 1px solid black;
    padding: 7px;
    text-align: center;
}
label {margin-right:100px;float: left;}
input {display: inline-block;margin-right:70px; float: left;}

h1{ background-color: lightblue; }
#content{margin-top: 25px;
	width:450px;}

 .hideimg{display:none;}
 .active{display: inherit;width: 400px; margin: 5px;border-radius:5px;border-style: solid;}

